/* Imagen centrada */
.image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 300px; /* Ajusta según el tamaño deseado */
  max-height: 300px;
  animation: fadeIn 2s ease-in-out;
}

/* Animación para que aparezca suavemente */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
